<h3>{{title}}</h3>
<div class="row">
<div class=" col-md-2 dropdown" appDropdown>
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose Topic
    <span class="caret"></span></button>
     <ul  class="dropdown-menu">
       <li *ngFor="let t of items" ><a routerLink= {{t}}>{{t}}</a></li>
    </ul>
  </div>
  
<div class="col-md-2 dropdown" appDropdown>
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose SubTopic
    <span class="caret"></span></button>
     <ul  class="dropdown-menu">
       <li *ngFor="let m of pages" ><a routerLink= {{m}}>{{m}}</a></li>
    </ul>
    
  </div>
  </div>

<router-outlet></router-outlet>
